* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
}

body {
  background-image: url(./assets/Fundo-home-page.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#container-Pai {
  width: 87vw;
  height: 80vh;
  border-radius: 08px;
  border: 8px solid #e9e8e86c;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: space-between;
}

.button-Login {
  font-size: 30px;
  width: 10vw;
  height: 5vh;
  border-radius: 20px;
  background-color: #cea690a8;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;

}

#title {
  visibility: hidden;
}

#Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aquamarine;
}

#Procurar {
  border-radius: 20px;
  background-color: #cea690a8;
  width: 20vw;
  height: 2, 5vw;
}

#conteudo {
  background-color: antiquewhite;
  font-size: 80px;
}

#descricao {
  flex: 3;
  background-color: coral;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#noticias {
  flex: 1;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#main {
  display: flex;
  flex-direction: row;
  height: 50%;
}