* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
}

body {
  background-image: url(./assets/Fundo-home-page.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#container-Pai {
  width: 87vw;
  height: 80vh;
  border-radius: 08px;
  border: 8px solid #e9e8e86c;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
  gap: 12px;
}

.button-Login {
  font-size: 30px;
  height: 5vh;
  border-radius: 20px;
  background-color: #cea690a8;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;

}

#title {
  visibility: hidden;
}

#Nav {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#Procurar {
  border-radius: 20px;
  background-color: #cea690a8;
  width: 50vw;
  height: 8vw;
  border: 1px solid;
  color: black;
}

#conteudo {
  font-size: 24px;
}

#descricao {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#noticias {
  flex: 1;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}

#main {
  display: flex;
  height: 50%;
  flex-wrap: wrap;
}

#background-style {
  background-color: rgba(255, 255, 255, 0.473);
  width: 100%;
  height: 100%;
  backdrop-filter: (2px);
}

footer {

  font-size: 15px;
}

@media (min-width: 600px) {
  body {
    background-image: url(./assets/Fundo-home-page.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #container-Pai {
    width: 87vw;
    height: 80vh;
    border-radius: 08px;
    border: 8px solid #e9e8e86c;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;
  }

  .button-Login {
    font-size: 17px;
    width: 08vw;
    height: 4vh;
    border-radius: 20px;
    background-color: #cea690a8;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;

  }

  #title {
    visibility: hidden;
  }

  #Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #Procurar {
    border-radius: 20px;
    background-color: #cea690a8;
    width: 30vw;
    height: 2vw;
    text-align: center;
  }

  #conteudo {
    font-size: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  #descricao {
    flex: 3;
    font-size: 25px;
  }

  #noticias {
    flex: 2;
    width: 260px;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.7);
  }

  #main {
    display: flex;
    flex-direction: row;
  }
}