* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

/* HEADER FIXO */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 04px;
    z-index: 1000;
    text-decoration: none;
}

.header nav a:hover {
    text-decoration: underline;
}

/* MAIN */
.container {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* CARD */
.card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h2 {
    font-size: 1.1rem;
    margin: 15px;
}

.card p {
    font-size: 0.9rem;
    margin: 0 15px 15px;
    color: #666;
}

.price {
    display: block;
    margin: 0 15px 20px;
    font-weight: bold;
    color: #000;
}

/* FOOTER */
.footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    margin-top: 40px;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 8px;
}

/* RESPONSIVO EXTRA */
@media (max-width: 600px) {
    .header h1 {
        font-size: 1.1rem;
    }

    .header nav a {
        margin-left: 10px;
        font-size: 0.8rem;
    }
}