/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    font-style: normal;
}

body {
    background: linear-gradient(175deg, rgb(82 84 90) 10%, rgb(207 168 148) 50%, rgb(204 150 108) 100%);
    color: #333;
}

/* HEADER */
.header {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.6rem;
}

#dropdow {
    display: none;
}

/* CONTAINER */
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* CAIXAS */
.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.box h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

/* FORM */
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form label {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

.form input {
    margin-top: 5px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-select {
    margin-top: 5px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    color: #777777;

}

/* PRODUTO */
.product {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.product-info h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.price {
    font-weight: bold;
    font-size: 1.1rem;
}

/* BOTÃO */
.checkout {
    margin-top: 10px;
}

.btn {
    width: 100%;
    padding: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
}

/* FOOTER */
.footer {
    background-color: #111;
    text-align: center;
    padding: 20px;
    font-size: 0.8rem;
    color: #fcfcfc;
}

/* ===================== */
/* DESKTOP / TABLET */
/* ===================== */
@media (min-width: 768px) {

    .container {
        max-width: 900px;
        margin: 0 auto;
    }

    .product {
        flex-direction: row;
        align-items: center;
    }

    .product img {
        max-width: 200px;
        height: 140px;
    }

    .checkout {
        display: flex;
        justify-content: flex-end;
    }

    .btn {
        width: auto;
        padding: 15px 40px;
    }

    #button {
        display: none;
    }

    #dropdow {
        display: block;
    }
}